name: Format

on:
  workflow_dispatch:
  schedule:
    - cron: "0 22 * * *"

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - run: npm ci
      - run: npm run format:write
      - run: npm run lint:fix

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: 自动格式化代码"
